# media内の画像はいらない．
/media/*
/infer/maml/maml.pth

#YOLOv5系はいらない
/infer/yolov5/exp21_best.pt
/ipynb

.DS_Store
data
log_result/*
bug_report/*
db.sqlite3
*/__pycache__/*
__pycache__/


# 開発用template
# templates/test_new_feature.html