# media内の画像はいらない．
/media/*
/infer/maml/maml.pth

#YOLOv5系はいらない
/infer/yolov5/exp21_best.pt
/infer/yolov5/requirements.txt
/infer/yolov5/tutorial.ipynb
/ipynb

.DS_Store
data
log_result/*
db.sqlite3
*__pycache__*
__pycache__/