{% extends 'base.html' %}

{% block header %}
{% for message in messages %}
<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
<div class="alert alert-primary" role="alert">
   <h3> 推定結果 </h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success d-flex justify-content-evenly" role="alert">
        <p class=""><img src='{{ last_img.img.url }}' width='{{ width }}' height='{{ height }}' id="img1" onclick="mccl('img1')"></p>
        <p class=""><img src='{{ last_img.lr.url }}' width='{{ width }}' height='{{ height }}' id="img2" onclick="mccl('img2')"></p>
    </div>
    <div class="text-right">
        <a class="btn btn-outline-secondary"href="{% url 'display_bb' %}" role="button">バウンディングボックス</a>
        <a class="btn btn-outline-secondary" href="{% url 'display_fore' %}" role="button">前景画像</a>
 <!--        <a class="btn btn-primary" href="{% url 'display_lr' %}" role="button">推定結果</a> -->
        <a class="btn btn-primary" href="{% url 'display_corner' %}" role="button">重なり点の修正</a>
    </div>
    <script>
    	var xy_coord_list = [];
	    function mccl(idname){
	        var s = document.getElementById(idname);
	        var w0 = {{ width }};//初期値
	        var h0 = {{ height }};//初期値
	        w1 = s.getAttribute("width");//現在
	        h1 = s.getAttribute("height");
	        var r = s.getBoundingClientRect();
	        var x = Math.round(event.clientX-r.left);
	        var y = Math.round(event.clientY-r.top);
	        x = Math.round(x*(w0/w1));
	        y = Math.round(y*(h0/h1));
	        xy_coord_list.push(x, y);
	        document.getElementById('coord_list').value = xy_coord_list;
	        //////ここ座標
	        // alert(xy_coord_list);
	    };
	</script>
<!-- 	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="coord_list" id="coord_list">
		<input type="submit" value="re-estimate">
	</form> -->


<div class="alert d-flex justify-content-end">
<!--     <a href="{% url 'upload' %}" class="btn btn-outline-secondary  " tabindex="-1" role="button" aria-disabled="true">アップロード</a> -->
	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="coord_list" id="coord_list">
		<input type="submit" class="btn btn-secondary" value="ラベル修正"  class="btn btn-outline-secondary  " tabindex="-1" role="button" aria-disabled="true">
	<a href="{% url 'home' %}" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">ホーム</a>
</div>
</div>
{% endblock content %}