{% extends 'base.html' %}

{% block header %}
{% for message in messages %}
<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
<div class="alert alert-primary" role="alert">
   <h3> 重なり点の修正</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success d-flex justify-content-evenly" role="alert">
		{% if first_estimation %}
			<canvas id="canvas_img_corner" width='{{ width }}' height='{{ height }}'></canvas>
			<canvas id="canvas_img" width='{{ width }}' height='{{ height }}'></canvas>
		{% else %}
		<img src='{{ last_img.img.url }}' width='{{ width }}' height='{{ height }}'>
		<img src='{{ last_img.corner_old.url }}' width='{{ width }}' height='{{ height }}'>
		<img src='{{ last_img.corner.url }}' width='{{ width }}' height='{{ height }}'>
		{% endif %} 
    </div>
    <div class="text-right">
        <a class="btn btn-outline-secondary" href="{% url 'display_bb' %}" role="button">バウンディングボックス</a>
        <a class="btn btn-outline-secondary" href="{% url 'display_fore' %}" role="button">前景画像</a>
    	<a class="btn btn-outline-secondary" href="{% url 'display_lr' %}" role="button">推定結果</a>
    </div>
    <script>
	// canvasへimageを描画
	let canvas1 = document.getElementById('canvas_img_corner');
	let context1 = canvas1.getContext('2d');
	let canvas2 = document.getElementById('canvas_img');
	let context2 = canvas2.getContext('2d');

	var img_corner = new Image();
	img_corner.src = '{{ last_img.corner.url }}';
	img_corner.onload = function(){
	context1.drawImage(img_corner, 0, 0, {{ width }}, {{ height }});
	}

	var img = new Image();
	img.src = '{{ last_img.img.url }}';
	img.onload = function(){
	context2.drawImage(img, 0, 0, {{ width }}, {{ height }});
	}

	// クリック座標取得&円の描画
	var xy_coord_list = [];
	function listen_click(){
		let canvas = document.getElementById('canvas_img');
		let context = canvas.getContext('2d');
		var w = canvas.width;
		var h = canvas.height;
		var x = 0;
		var y = 0;
		function onClick(e){
			/*
			* rectでcanvasの絶対座標位置を取得し、
			* クリック座標であるe.clientX,e.clientYからその分を引く
			* ※クリック座標はdocumentからの位置を返すため
			* ※rectはスクロール量によって値が変わるので、onClick()内でつど定義
			*/
			var rect = e.target.getBoundingClientRect();
			x = e.clientX - rect.left;
			y = e.clientY - rect.top;
			x_int = Math.round(x);
			y_int = Math.round(y);
			xy_coord_list.push(x_int, y_int);
			document.getElementById('coord_list').value = xy_coord_list;

			draw();
			}

		function draw(){
			context.beginPath();
			context.arc(x-2, y-2, 4, 0, Math.PI * 2, true);
			context.fillStyle = "lightskyblue";
			context.fill();
			context.strokeStyle = 'lightskyblue';
			context.lineWidth = 4;
			context.stroke();
			context.globalCompositeOperation = 'source-over';
		}
		canvas.addEventListener('click', onClick, false);
	}
	listen_click();
	</script>

<div class="alert d-flex justify-content-end">
<!--     <a href="{% url 'upload' %}" class="btn btn-outline-secondary  " tabindex="-1" role="button" aria-disabled="true">アップロード</a> -->
	<form method="post">{% csrf_token %}
		{{ form }}
		<!-- {{ form.as_p }} -->
		<input type="hidden" name="coord_list" id="coord_list">
		<input type="submit" name="submit_btn" value="再推定" class="btn btn-primary" tabindex="-1" aria-disabled="true">
	<a href="{% url 'home' %}" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">ホーム</a>
</div>
<!--     <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form> -->

</div>
{% endblock content %}